:root {
    --primary: hsl(34, 74%, 52%);
    --light: #EEEEEE;
    --dark: #212121;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: hsl(0, 0%, 100%);

}

body {
    background-color: #222;

}

/* PRELOADER------------------------------------------------------------------*/

.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.reveal {
    position: relative;
}
.reveal::after{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--primary);
    animation: reveal 1s ease-out 1s forwards;
}
.reveal.subDelay::after{
    animation-delay: 1.4s;
}

.title {
    color: #fff;
    font-size: 90px;
    opacity: 0;
    animation: fade-in-text 0.01s linear 1.5s forwards;
}

.subtitle {
    color: #fff;
    padding-left: 10px;
    font-size: 40px;
    opacity: 0;
    animation: fade-in-text 0.01s linear 1.5s forwards;
    animation-delay: 1.9s;
}

.subPos {
    left: 30px;
    top: 10px;
}

@keyframes reveal {
    0% {
        width: 0%;
        right: 100%;
        left: 0%;
    }
    50% {
        width: 100%;
        right: 0%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade-in-text {
    from {opacity: 0;}
    to {opacity: 1;}
}



/* NAVBAR---------------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0rem;
    padding-bottom: 1rem;
    margin: 0.5rem 5rem;
    overflow: hidden;

    border-bottom: 2px solid hsla(0, 1%, 38%, 0.66);
}

.logo {
    font-size: 13px;
    color: hsla(360, 100%, 100%, 1);
    padding-left: 1rem;
}
.logo a {
    text-decoration: none;
}

.menu {
    font-size: 18px;
    font-weight: bold;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;
    width: 33rem;
}
.menu a {
    text-decoration: none;
    transition: all 0.4s ease 0s;

}
.menu a:hover {
    color: var(--primary);

}
.menu a.is-active {
    color: var(--primary);
}




.hamburger {
    display: none;
}



/* PAGE STYLE-----------------------------------------------------------------*/



.about-wrapper {
    position: relative;
    top: 8rem;
    left: 16rem;
    width: 50%;
}
.about-wrapper h1 {
    font-size: 125px;
    text-transform: uppercase;
    opacity: 0.09;

    z-index: 0;
}
.about-wrapper p {
    font-size:20px;

    position: absolute;
    top: 6rem;
    left: 9rem;
    width: 50rem;
    z-index: 1;

}




/* SCROLLBAR------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 0px;
}



/* Track
::-webkit-scrollbar-tracSk {
    background: rgb(80, 80, 80);
    border-radius: 100px;
}

/* Handle
::-webkit-scrollbar-thumb {
    background: hsl(34, 74%, 52%);
    border: 2.5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: hsl(33, 90%, 57%);
    border: 2.5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}

/* Handle on hover
::-webkit-scrollbar-thumb:active {
    background: hsl(34, 68%, 46%);
    border: 2.5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}


::-webkit-scrollbar-track {
    margin-top: 7px;
    margin-bottom: 7px;
}

*/



/* TEXT SELECTION-------------------------------------------------------------*/

::selection {
background-color: hsl(34, 74%, 52%);
color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
