* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #222;
}

.reveal {
    position: relative;
}
.reveal::after{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 100%;
    width: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #996e05;
    animation: reveal 1s ease-out 1s forwards;
}


.titel {
    color: #fff;
    font-size: 72px;
    opacity: 0;
    animation: fade-in-text 0.01s linear 1.5s forwards;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes reveal {
    0% {
        width: 0%;
        right: 100%;
        left: 0%;
    }
    50% {
        width: 100%;
        right: 0%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fade-in-text {
    from {opacity: 0;}
    to {opacity: 1;}
}
